
  

  .wrapper {
    
    display: flex;
    min-height: 80%;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 60%;
    margin: 10% auto 0px auto;
    z-index: -1;
  }

  @media (min-width: 1100px) {
    .container {
      margin-top: 30%;
      padding-left: 100px;
      padding-right: 100px;
      width: 1100px;
    }
  }